// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

@import "~vuetify/src/styles/styles.sass";

:root {
  --content-width: 800px;
  --text-size: 18px;
  --post-title-size: 26px;
}

$breakpoint-md: 799.9px;
$breakpoint-sm: 599.9px;
$breakpoint-xs: 499.9px;

$material-light: map-deep-merge(
  $material-light,
  (
    "background": var(--v-background-base),
  )
);

$material-dark: map-deep-merge(
  $material-dark,
  (
    "background": var(--v-background-base),
  )
);

.v-application {
  color: var(--v-colorText-base ) !important;
}

@media screen and (max-width: $breakpoint-sm) {
  :root {
    --post-title-size: 1.333rem;
  }
}
